.music-wrap
	width: 100%
	background: $bg-color-3

	h3
		font-weight: 300
		text-transform: uppercase
		padding-top: 20px
		text-align: center
		margin: 0

	.binery
		text-align: center
		color: #ddd

	.wrap
		width: 805px
		margin: 0 auto
		padding: 20px 0

		div
			display: inline-block
			width: 400px
			height: 300px

			.music-soundcloud-big
				display: inline-block
				width: 100%
				height: 100%
				border: 0

			.music-sounccloud-small
				display: inline-block
				width: 100%
				height: 50%
				border: 0

@media screen and (max-width: 900px)
	.music-wrap

		.wrap
			width: 605px

			div
				width: 300px

@media screen and (max-width: 650px)
	.music-wrap
		.wrap
			width: 400px
			div
				padding: 20px 0
				width: 400px

@media screen and (max-width: 560px)
	.music-wrap

		.binery
			font-size: 12px

@media screen and (max-width: 500px)
	.music-wrap
		.wrap
			width: 300px
			div
				width: 300px
@media screen and (max-width: 300px)
	.music-wrap
		.wrap
			width: 200px
			div
				padding: 0
				width: 200px
		.binery
			font-size: 8px
