header
	position: relative
	width: 100%
	height: 600px
	background:
		image: url("/assets/images/hero.jpg")
		size: cover
		position: top center
		attachment: fixed
	overflow: hidden

	.fore-gram
		height: 293px
		width: 221px
		background:
			image: url("/assets/images/gram.png")
			repeat: no-repeat
			position: right bottom
		position: absolute
		left: 50%
		margin-left: -480px
		z-index: 999999

	nav
		position:  absolute
		right: 20px
		top: 20px

		a
			margin-left: 20px
			font-size: 16px
			@include transition(0.4s)

	.logo
		position: relative
		width: 315px
		margin: 0 auto
		top: 50%
		transform:  translateY(-50%)

		h1
			padding: 0
			margin: 0
			font-weight: 300
			text-transform: uppercase
			text-align: right
			color: white
		p
			color: darken(white, 40%)
			text-align: center

footer
	margin-top: 500px


	.main-footer
		background:
			image: url("/assets/images/hero.jpg")
			size: cover
			position: 50% 50%
		width: 100%
		height: 500px
		position: fixed
		bottom: 0
		left: 0
		right: 0
		z-index: -1


		nav
			position:  absolute
			right: 20px
			bottom: 20px

			a
				margin-left: 20px
				font-size: 16px
				@include transition(0.4s)

		div
			@include clearfix
			position: relative
			width: 315px
			margin: 0 auto
			top: 50%
			transform:  translateY(-50%)

			h1
				padding: 0
				margin: 0
				font-weight: 300
				text-transform: uppercase
				text-align: right
				color: white

@media screen and (max-width: 1020px)
	header

		.fore-gram
			margin-left: -300px
			z-index: 5

		.logo
			z-index: 20

@media screen and (max-width: 540px)
	header
		.fore-gram
			margin-left: -100px
		.logo
			width: 206px
			h1
				font-size: 45px
		nav
			z-index: 10
			width: 172px
			right: 0
			left: 0
			top: 40px
			margin: 0 auto

			a
				margin-left: 10px
	footer
		.main-footer

			nav
				position:  absolute
				right: 20px
				bottom: 20px

				a
					margin-left: 20px
					font-size: 16px
					@include transition(0.4s)

			div
				width: 206px

				h1
					font-size: 45px

@media screen and (max-width: 300px)
	header
		.logo
			width: 153px
			h1
				font-size: 38px

	footer
		.main-footer

			nav
				position:  absolute
				right: 0
				left: 20px
				bottom: 20px

				a
					margin-left: 10px
					font-size: 12px

			div
				width: 153px
				h1
					font-size: 38px